<%= form_for :session, url: session_path, html: { class: 'content-section-wrapper admin' } do |form| %>

  <div class="input-wrapper">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="input-wrapper">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="input-wrapper">
    <%= form.submit 'Submit', class: "btn --submit" %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
