<div class="content-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <div class="content-section-wrapper">
    <%= link_to 'New Tag', new_admin_tag_path, class: "btn" %>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="content-section-wrapper">  
            
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
              <td><%= tag.name %></td>
              <td class="text-center">
                <%= link_to 'Edit', edit_admin_tag_path(tag), class: "btn --blue" %>
              </td>
              <td class="text-center">
                <%= link_to 'Destroy', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn --red" %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>