<%= render 'steps', section: 1 %>

<div class="panels-wrapper">

  <div class="panel --width-60 --margin-right">

    <%= form_with(model: @order, url: orders_submit_path, local: true, id: 'order-details') do |form| %>

      <%= form.hidden_field :id  %>

      <h2>Payment</h2>

      <div id="submit-paypal"></div>

    <% end %>

  </div>

  <div class="panel --width-40 --margin-left">
    <div class="content-section-wrapper --full-border">
      <%= render 'summary', product: @product %>
    </div>
  </div>

</div>

<script>

  (function setupPaypal() {

    function updateStepsProgress() {
      const $step1 = $("#step1");
      $step1.addClass('is-complete')
      $step1.removeClass('is-active')
    }

    function submitOrderPaypal(chargeID) {
      var $form = $("#order-details");
      // Add a hidden input orders[charge_id]
      $form.append($('<input type="hidden" name="order[charge_id]"/>').val(chargeID));

      $form.submit();
      console.log('submitOrderPaypal happened');
    }

    paypal.Buttons({
      env: "#{ENV['PAYPAL_ENV']}",
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: "<%= @product.price_cents.to_f / 100.to_f %>"
            }
          }]
        });
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then(function(details) {
          return $.post("<%= paypal_execute_payment_url %>", {
            order_id: "<%= @order.id%>",
            status: details.status,
            charge_id: details.id,
          }).then(function () {
            setTimeout(() => {
              submitOrderPaypal(details.id)
            }, 500)
            updateStepsProgress();
          });
        });
      }
    }).render('#submit-paypal');
  }());

</script>