
<%= javascript_tag "myOptions = #{Tag.order(:name).collect {|p| [ p.name, p.id.to_s ] }};" %>
<%= javascript_tag "currentValues = #{@post.tags.collect {|p| p.id.to_s }};" %>

<%= form_with(model: post, url: link, local: true, class: 'content-block') do |form| %>
    
  <% if post.errors.any? %>
    <div class="block-wrapper">
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :content, class: "form-label" %>
      <div class=" p-6">
        <%= react_component("Editor", { greeting: "Hello from react-rails." }) %>
      </div>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: 'form-field' %>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :subtitle, class: "form-label" %>
      <%= form.text_field :subtitle, class: 'form-field' %>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :excerpt, class: "form-label" %>
      <%= form.text_area :excerpt, class: 'form-field', rows: 3 %>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: 'form-field', rows: 5 %>
    </div>
  </div>
  
  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :date, class: "form-label" %>
      <%= form.datetime_select :date, {}, class: "form-field__datetime" %>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :status, class: "form-label" %>
      <%= form.select(:status, options_for_select(Post.statuses, Post.status_to_i(post[:status])), {}, { :class => "form-field__select" }) %>
    </div>
  </div>

  <% if @post.mainImage.attached? %>
    <div class="block-wrapper">
      <div class="block-content-wrapper">
        <p class="w-full form-label">Current main image uploaded</p>
        <img class="max-w-md" src="<%= (url_for(@post.mainImage)) %>" />
      </div>
    </div>
  <% end %>

  <div class="block-wrapper">
    <div class="block-content-wrapper">   
      <%= form.file_field :mainImage %>
    </div>
  </div>

  <div class="block-wrapper">
    <%= form.check_box :sticky, { :class => "form-field__checkbox" } %> <br />
    <p class="text-grey">Make this post sticky</p>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.label :status, class: "form-label" %>
      <%= form.select(:status, options_for_select(Post.statuses, Post.status_to_i(post[:status])), {}, { :class => "form-field__select" }) %>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <input id="tags" type="hidden" value="" name="post[tag_ids]" />
      <%= form.label :tags, class: "form-label" %>
      <span class="multi-select"></span>
    </div>
  </div>

  <div class="block-wrapper">
    <div class="block-content-wrapper">
      <%= form.submit 'Submit', class: "form-button" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">

  const tagsInput = document.getElementById('tags');

  const transformMethod = values => values.map(([name, id]) => ({
    value: id,
    label: name
  }));

  const transformedOptions = transformMethod(myOptions);

  const onChange = (values) => {
    tagsInput.value = `${values}`;
  }

  var instance = new SelectPure(".multi-select", {
    options: transformedOptions,
    multiple: true,
    autocomplete: false,
    icon: "fa fa-times",
    value : currentValues,
    onChange: onChange
});
</script>

