
<%= javascript_tag "myOptions = #{Tag.order(:name).collect {|p| [ p.name, p.id.to_s ] }};" %>
<%= javascript_tag "currentValues = #{@post.tags.collect {|p| p.id.to_s }};" %>

<%= form_with(model: post, url: link, local: true, class: 'content-section-wrapper admin') do |form| %>
    
  <% if post.errors.any? %>
    <div class="input-wrapper">
      <div class="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="half">
    <div class="input-wrapper">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="input-wrapper">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle %>
    </div>
  </div>

  <div class="input-wrapper">
    <%= form.label :excerpt %>
    <%= form.text_area :excerpt, rows: 3 %>
  </div>

  <div class="input-wrapper">
    <%= form.label :content, class: "form-label" %>
    <%= react_component("SlateEditor", { content: post.content_raw, raw: 'post_content_raw', field: 'post_content' }, { class: "slate-editor-wrapper" }) %>
    <%= form.hidden_field :content_raw %>
    <%= form.hidden_field :content %>
  </div>
  
  <div class="half">
    <div class="input-wrapper">
      <%= form.label :date %>
      <%= form.datetime_select :date, {} %>
    </div>

    <div class="input-wrapper">
      <input id="tags" type="hidden" value="" name="post[tag_ids]" />
      <%= form.label :tags %>
      <span class="multi-select"></span>
    </div>
  </div>

  <div class="half">
    <div class="input-wrapper">
      <%= form.label :status %>
      <%= form.select(:status, options_for_select(Post.statuses, Post.status_to_i(post[:status])), {}) %>
    </div>

    <div class="input-wrapper">
      <%= form.check_box :sticky %> <br />
      <p class="text-grey">Make this post sticky</p>
    </div>
  </div>

  <div class="half">
    <div class="input-wrapper">  
      <%= form.file_field :mainImage %>
    </div>
    
    <% if @post.mainImage.attached? %>
      <div class="input-wrapper">
        <label>Current main image uploaded</label>
        <img class="main-image" src="<%= (url_for(@post.mainImage)) %>" />
      </div>
    <% end %>
  </div>



  <div class="input-wrapper">
    <%= form.submit 'Submit', class: "btn --submit" %>
  </div>

<% end %>

<script type="text/javascript">

  const tagsInput = document.getElementById('tags');

  const transformMethod = values => values.map(([name, id]) => ({
    value: id,
    label: name
  }));

  const transformedOptions = transformMethod(myOptions);

  const onChange = (values) => {
    tagsInput.value = `${values}`;
  }

  var instance = new SelectPure(".multi-select", {
    options: transformedOptions,
    multiple: true,
    autocomplete: false,
    icon: "fa fa-times",
    value : currentValues,
    onChange: onChange
});
</script>

