<div class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 px-3 py-10 bg-gray-200 flex justify-center flex-col">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">  

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
          <strong>Title:</strong>
          <%= @post.title %>
        </p>
      </div>
    </div>

    <% if @post.mainImage.attached? %>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <p class="w-full block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Current main image uploaded</p>
          <img class="max-w-md" src="<%= (url_for(@post.mainImage)) %>" />
        </div>
      </div>
    <% end %>

  </div>

  <div class="bg-white w-full md:w-1/2 p-3 mb-6 md:mb-0">
    <div class="inline-flex">
      <%= link_to 'Edit', edit_admin_post_path(@post), class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" %>
      <%= link_to 'Back', admin_posts_path, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" %>
    </div>
  </div>

  <%= @post.inspect %>

</div>