<title>KirstyShop</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">