<%= javascript_tag "myOptions = #{Theme.order(:name).collect {|p| [ p.name, p.id.to_s ] }};" %>
<%= javascript_tag "currentValues = #{@product.themes.collect {|p| p.id.to_s }};" %>

<%= form_with(model: product, url: link, local: true, class: 'content-section-wrapper admin') do |form| %>

  <% if product.errors.any? %>
    <div class="input-wrapper">
      <div class="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="input-wrapper">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="input-wrapper">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="input-wrapper">
    <%= form.label :price_in_pence %>
    <%= form.number_field :price_cents, step: '1', placeholder: '0' %>
  </div>

  <div class="input-wrapper">
    <%= form.label :status %>
    <div>
      <%= form.select(:status, options_for_select(Product.statuses, Product.status_to_i(product[:status])), {}) %>
    </div>
  </div>

  <div class="input-wrapper">
    <%= form.label :type %>
    <div>
      <%= form.select(:product_type, options_for_select(Product.product_types, Product.product_type_to_i(product[:product_type])), {}) %>
    </div>
  </div>

  <div class="input-wrapper">
    <%= form.label :date %>
    <div>
      <%= form.datetime_select :date, {} %>
    </div>
  </div>

  <div class="input-wrapper">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-field', rows: 5 %>
  </div>

  <div class="input-wrapper">
    <input id="themes" type="hidden" value="" name="product[theme_ids]" />
    <%= form.label :themes %>
    <span class="multi-select"></span>
  </div>

  <div class="input-wrapper">
    <%= form.label :main_image %>
    <%= form.file_field :mainImage %>
  </div>

  <% if @product.mainImage.attached? %>
    <div class="input-wrapper">
      <label>Current main image uploaded</label>
      <img class="main-image" src="<%= (url_for(@product.mainImage)) %>" />
      <%= link_to 'Remove', delete_image_attachment_admin_product_url(@product.mainImage.id),
              method: :delete,
                data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <div class="input-wrapper">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <% if @product.images.attached? %>
    <div class="input-wrapper">
      <label>Current images uploaded</label>
      <% @product.images.each do |image| %> 
        <img class="mini-image" src="<%= (url_for(image)) %>" />
        <%= link_to 'Remove', delete_image_attachment_admin_product_url(image.id),
              method: :delete,
                data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>

  <div class="input-wrapper">
    <%= form.submit 'Submit', class: "btn --submit" %>
  </div>

<% end %>

<script type="text/javascript">

  const themesInput = document.getElementById('themes');

  const transformMethod = values => values.map(([name, id]) => ({
    value: id,
    label: name
  }));

  const transformedOptions = transformMethod(myOptions);

  const onChange = (values) => {
    themesInput.value = `${values}`;
  }

  var instance = new SelectPure(".multi-select", {
    options: transformedOptions,
    multiple: true,
    autocomplete: false,
    icon: "fa fa-times",
    value : currentValues,
    onChange: onChange
});
</script>
