<div class="content-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <div class="content-section-wrapper">
    <%= link_to 'New Product', new_admin_product_path, class: "btn" %>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="content-section-wrapper">  
            
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Type</th>
          <th>Status</th>
          <th>Price</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      
      <tbody>
        <% if @products %>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.title %></td>
              <td><%= product.date.to_s(:long) %></td>
              <td><%= product.product_type.capitalize %></td>
              <td><%= product.status.capitalize %></td>
              <td><%= humanized_money_with_symbol format_price product.price_cents %></td>
              <td class="text-center">
                <%= link_to 'Preview', preview_admin_product_path(product), class: "btn --blue" %>
              </td>
              <td class="text-center">
                <%= link_to 'Show', admin_product_path(product), class: "btn --blue" %>
              </td>
              <td class="text-center">
                <%= link_to 'Edit', edit_admin_product_path(product), class: "btn --blue" %>
              </td>
              <td class="text-center">
                <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn --red" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
  </div>

  <% if @paginated %>
    <div class="content-section-wrapper">
      <%= link_to 'Previous', { controller: "products", action: "index", page: @page - 1 }, class: "btn" unless @page <= 0 %>
      <%= link_to "Next", { controller: "products", action: "index", page: @page + 1 }, class: "btn" unless @page >= @paginated -1  %>
    </div>
  <% end %>

</div>