<div class="page-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-body">

          <p id="notice"><%= notice %></p>

          <p>
            <strong>Title:</strong>
            <%= @product.title %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @product.price %>
          </p>

          <% if @product.mainImage.attached? %>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <p class="w-full block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Current main image uploaded</p>
                <img class="max-w-md" src="<%= (url_for(@product.mainImage)) %>" />
              </div>
            </div>
          <% end %>

          <% if @product.images.attached? %>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <p class="w-full block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Current images uploaded</p>
                <% @product.images.each do |image| %> 
                  <img class="max-w-md" src="<%= (url_for(image)) %>" />
                <% end %>
              </div>
            </div>
          <% end %>

          <%= @product.inspect %>

          <%= link_to 'Edit', edit_admin_product_path(@product) %> |
          <%= link_to 'Back', admin_products_path %>
          
        </div>
      </div>
    </div>
  </div>
</div>