<div class="page-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-body">

          <p id="notice"><%= notice %></p>

          <p>
            <strong>Title:</strong>
            <%= @product.title %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @product.price %>
          </p>

          <%= link_to 'Edit', edit_admin_product_path(@product) %> |
          <%= link_to 'Back', admin_products_path %>
          
        </div>
      </div>
    </div>
  </div>
</div>