

<div id="gridView">

  <div class="grid">

    <% @posts.each do |post| %>
      <div class="item blog">
        <div class="content">
          <div class="effect-wrapper">
            <% if post.mainImage.attached? %>
              <div class="image">
                <img src="<%= (url_for(post.mainImage)) %>" />
              </div>
            <% end %>
            <div class="post-title">
              <h3><%= post.title %></h3>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="title">
                  <h3><%= post.title %></h3>
                </div>
                <hr />
                <div class="desc">
                  <p><%= post.content %></p>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>

<!-- <div>
    <%= link_to 'Previous', controller: "posts", action: "index", page: @page - 1 unless @page <= 0 %>
    <%= link_to "Next", controller: "posts", action: "index", page: @page + 1 unless @page >= @total %>
</div>  -->