

<div id="gridView" class="mt-8">

  <div class="grid">

    <% @posts.each do |post| %>
      <div class="item blog">
        <%= link_to post_show_path(post.slug) do %>
        
          <div class="content">
            <div class="effect-wrapper">
              <% if post.mainImage.attached? %>
                <div class="image">
                  <img src="<%= (url_for(post.mainImage)) %>" />
                </div>
              <% end %>
              <div class="post-title">
                <h3><%= post.title %></h3>
              </div>
              <div class="overlay">
                <div class="overlay-content">
                  <div class="title">
                    <h3><%= post.title %></h3>
                  </div>
                  <div class="hr"></div>
                  <div class="desc">
                    <p><%= post.content %></p>
                  </div>
                  <div class="hr"></div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>

<% if @paginated %>
  <div class="bg-white w-full md:w-1/2 p-3 mb-6 md:mb-0">
    <div class="inline-flex">
      <%= link_to 'Previous', { controller: "posts", action: "index", page: @page - 1 }, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" unless @page <= 0 %>
      <%= link_to "Next", { controller: "posts", action: "index", page: @page + 1 }, class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" unless @page >= @paginated -1  %>
    </div>
  </div>
<% end %>