<h1>Posts</h1>

<div>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <h4><%= post.date.to_s(:long) %></h4>
    <p><%= post.content %></p>
  <% end %>
</div>

<div>
    <%= link_to 'Previous', controller: "posts", action: "index", page: @page - 1 unless @page <= 0 %>
    <%= link_to "Next", controller: "posts", action: "index", page: @page + 1 unless @page >= @total %>
</div>

<pre>
  <%= debug @posts %>
</pre>