
<div class="content --flex">

  <div class="products">

    <div class="product-carousel">

    </div>

    <div class="product-filters">
      <%= Product.product_types.inspect %>
    </div>

    <div class="products-list">

      <% if @products %>
        <% @products.each do |product| %>

          <div class="product">

            <%= link_to(product_show_path(product.slug)) do %>

              <% if product.mainImage.attached? %>
                <div class="image">
                  <img class="main-image" src="<%= (url_for(product.mainImage)) %>" />
                </div>
              <% end %>

              <div class="title">
                <h3>
                  <%= product.title %> - <%= humanized_money_with_symbol format_price product.price_cents %>
                </h3>
              </div>

            <% end %>

          </div>

        <% end %>
      <% end %>

    </div>

  </div>

</div>