
<div class="content --flex">

  <div class="products">

    <div class="product-carousel">
      <% if @products %>
        <section class="product-slider">
          <% @products.each do |product| %>
            <% if product.mainImage.attached? %>
              <div class="image">
                <img class="main-image" src="<%= (url_for(product.mainImage)) %>" />
              </div>
            <% end %>
          <% end %>
        </section>
      <% end %>
    </div>

    <div class="product-filters">

      <% if Product.product_types %>
        <div class="select-box" data-param="type">

          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="0" value="" name="product-type" checked="checked">
              <p class="select-box__input-text">Filter by Product type</p>
            </div>
            <% Product.product_types.each_with_index do | (value, number), index| %>
              <div class="select-box__value">
                <input class="select-box__input" type="radio" id="<%= number + 1 %>" value="<%= value %>" name="product-type" <%= checked="checked" unless params[:type] != value %> >
                <p class="select-box__input-text"><%= value.capitalize %></p>
              </div>
            <% end %>
            <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true">
          </div>
         

          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="0" aria-hidden="aria-hidden">All</label>
            </li>
            <% Product.product_types.each_with_index do | (value, number) , index| %>
              <li>
                <label class="select-box__option" for="<%= number + 1 %>" aria-hidden="aria-hidden"><%= value.capitalize %></label>
              </li>
            <% end %>
          </ul>

        </div>
      <% end %>
      
    </div>

    <div class="products-list">

      <% if @products %>
        <% @products.each do |product| %>

          <div class="product">

            <%= link_to(product_show_path(product.slug)) do %>

              <% if product.mainImage.attached? %>
                <div class="image">
                  <img class="main-image" src="<%= (url_for(product.mainImage)) %>" />
                </div>
              <% end %>

              <div class="title">
                <h3>
                  <%= product.title %> - <%= humanized_money_with_symbol format_price product.price_cents %>
                </h3>
              </div>

            <% end %>

          </div>

        <% end %>
      <% end %>

    </div>

    <% if @paginated %>
      <div class="pagination">
        <% if @page >= 1 %>
          <%= link_to(products_path({ page: @page - 1, type: params[:type] })) do  %>
          <span class="prev">&lsaquo;</span> Previous
          <% end %>
        <% end %>
        <% if @page < @paginated -1 %>
          <%= link_to(products_path({ page: @page + 1, type: params[:type] })) do  %>
            Next <span class="next">&rsaquo;</span>
          <% end %>
        <% end %>
        <p>Showing <%= @start %> - <%= @end %> of <%= @total %> results</p>
      </div>
    <% end %>

  </div>

</div>