<div class="content --flex post">

  <div class="product">

    <div class="product-content">
  
      <div class="title">
        <h2><%= @product.title %></h2>
        <h4><%= @product.subtitle %></h4>
      </div>

      <div class="price">
        <h4><%= humanized_money_with_symbol format_price @product.price_cents %></h4>
      </div>

      <div class="description">
        <%= raw @product.description %>
      </div>

      <div class="add-to-cart">
        <%= link_to 'Purchase Product', orders_details_path(@product.slug), class: 'btn --buy' %>
      </div>

    </div>

    <div class="product-images">
      <% if @product.mainImage.attached? %>
        <img src="<%= (url_for(@product.mainImage)) %>" />
      <% end %>

      <% if @product.mainImage.attached? %>
        <% @product.images.each do |image| %> 
          <img src="<%= (url_for(image)) %>" />
        <% end %>
      <% end %>
    </div>

  </div>

</div>