<div class="content --flex post">

  <div class="product">

    <div class="product-content">
  
      <div class="title">
        <h2><%= @product.title %></h2>
        <h4><%= @product.subtitle %></h4>
      </div>

      <div class="price">
        <h4>£ <%= @product.price %></h4>
      </div>

      <div class="description">
        <%= raw @product.description %>
      </div>

      <div class="buy">
        Add to cart
      </div>

    </div>

    <div class="product-images">
      <% if @product.mainImage.attached? %>
        <img src="<%= (url_for(@product.mainImage)) %>" />
      <% end %>
    </div>

  </div>

</div>