<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/application/head" %>
  </head>

  <body>
    <div>
      <%= render "layouts/application/header" %>
      <%= render partial: "layouts/shared/flash_messages" %>
      <%= render "layouts/application/navigation" %>

      <div class="w-full max-w-screen-xl mx-auto">
        <%= yield %>
      </div>

      <%= render "layouts/application/footer" %>
    </div>

    </div>
  </body>
</html>